* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
  }
  body {
  }
  #mainwrapper {
    display: flex;
    justify-content: center;
    min-height: 70vh;
  }
  nav {
    position: relative;
    width: 100%;
    height: 80px;
    background: black;
    margin: 0 0 100px 0;

  }
  nav h1 {
    margin:0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
  }
  main {
    position: relative;
    
    
  }
  .questionnr{
      font-size: 24px;
      text-align: center;
  }
    .site-options {
    position: relative;
    height: 50px;
    padding: 10px 0 10px 0;
  }
  .fa-arrow-circle-left {
    position: absolute;
    font-size: 50px;
    color: blue;
  }
  .fa-times-circle {
    color: red;
    position: absolute;
    font-size: 50px;
    right: 0;
  }
  .fa-arrow-circle-left:hover {
    color: rgba(204, 204, 204, 0.521);
    cursor: pointer;
  }
  .fa-times-circle:hover {
    color: rgba(204, 204, 204, 0.521);
    cursor: pointer;
  }
  .questionpicture {
    height: 300px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin: 0 0 10px 0;
  }
  img {
    max-width: 100%;
    max-height: 100%;
    display: block;
  }
  .question-box {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    margin: 0 0 20px 0;
    text-align: center;
  }
  .options {
    display: flex;
    justify-content: space-between;
  }
  .answer {
    width: 20%;
    height: 50px;
  }
  .answer:hover {
    background: #ccc;
    border: 2px solid #ccc;
    color: white;
    cursor: pointer;
  }
  

  
  
  /* FOOTER */
  
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background: black;
  }
  